MODEL_NAME_0 = deepseek
MODEL_ID_0 = deepseek-chat
MODEL_URL_0 = https://api.deepseek.com
MODEL_API_KEY_0 = your_api_key_here

MODEL_NAME_1 = deepseek-V3.1
MODEL_ID_1 = deepseek-ai/DeepSeek-V3.1
MODEL_URL_1 = https://api-inference.modelscope.cn/v1/
MODEL_API_KEY_1 = your_api_key_here

MODEL_NAME_2 = glm
MODEL_ID_2 = ZhipuAI/GLM-4.5
MODEL_URL_2 = https://api-inference.modelscope.cn/v1/
MODEL_API_KEY_2 = your_api_key_here

MODEL_NAME_2 = qwen3
MODEL_ID_2 = Qwen/Qwen3-235B-A22B-Instruct-2507
MODEL_URL_2 = https://api-inference.modelscope.cn/v1/
MODEL_API_KEY_2 = your_api_key_here

# MODEL_SRC = HUGGINGFACE
MODEL_SRC = MODELSCOPE